body {
  background: url("https://images.pexels.com/photos/6430093/pexels-photo-6430093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "PT Serif", serif;
}

.navbar-nav {
  font-size: 20px;
  font-family: "PT Serif", serif;
}

h1 {
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}

.contact {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 300px;
}

.contact i {
  font-size: 60px;
}

.contact a:hover {
  color: #f48fb1;
}

a {
  text-decoration: none;
  color: white;
}

li a {
  color: white;
}

.credits a {
  text-decoration: none;
  color: #f48fb1;
}

a:hover {
  color: #ff4081;
}

footer {
  background-color: #293340;
  font-family: "PT Serif", serif;
}

.footer-links {
  font-size: 30px;
}

.credit {
  font-size: 12px;
}

.credits {
  font-size: 8px;
}

@media (max-width: 650px) {
  .navbar-nav {
    font-size: 20px;
    font-family: "PT Serif", serif;
    background-color: #293340;
    padding-left: 10px;
    max-width: 25%;
    border-radius: 10px;
  }

  .contact h1 {
    margin-bottom: 40px;
  }

  .contact h3 {
    margin-bottom: 30px;
  }

  footer {
    text-align: center;
  }

  footer li {
    margin: 0 auto;
  }
}
