body {
  background-color: #e8e7e3;
}

.heading {
  margin-top: 175px;
  margin-left: 100px;
  position: absolute;
  animation: slideInLeft;
  animation-duration: 3s;
}

.heading-img {
  display: block;
  width: 50%;
  margin-left: 50%;
  animation: slideInRight;
  animation-duration: 3s;
}

@media (max-width: 600px) {
  .heading {
    width: 80%;
    margin: 90px auto 30px;
    display: block;
  }

  .heading-img {
    display: none;
  }

  .heading h1 {
    font-size: 40px;
  }

  .heading p,
  h2 {
    font-size: 20px;
  }

  .middle-section {
    margin-top: 100px;
    text-align: center;
  }

  .middle-section a {
    margin: auto;
    margin-bottom: 20px;
  }

  .middle-section .middle {
    padding: 50px;
  }

  .project {
    margin: auto;
    margin-bottom: 20px;
  }
}

p {
  font-size: 30px;
  line-height: 0px;
  margin: 0px;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 90px;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  position: relative;
}

h2 {
  font-size: 25px;
  font-family: "PT Serif", serif;
}

.middle {
  text-align: center;
  padding: 120px;
  font-size: 20px;
  animation: slideInLeft;
  animation-duration: 3s;
}

.middle-button {
  font-family: "PT Serif", serif;
  background-color: #a7b882 !important;
  color: white;
  margin-left: 220px;
}

.projects {
  padding: 20px;
}

.project-button {
  font-family: "PT Serif", serif;
  background-color: #a7b882 !important;
  margin: 30px auto;
  color: white;
}

section {
  font-family: "PT Serif", serif;
}

.skills {
  padding: 200px;
  padding-left: 1px;
  padding-right: 1px;
  margin: 0 auto;
}

.skills p {
  padding: 30px;
  font-size: 20px;
}

.borders {
  border: 1px solid none;
  background-color: #fceee9;
  border-radius: 10px;
  padding: 30px;
}
.top-skills {
  padding-left: 30px;
}

.bottom-skills {
  padding-left: 30px;
}
