body {
  background-color: #e8e7e3;
}

.heading {
  margin-top: 175px;
  margin-left: 100px;
  position: absolute;
  animation: slideInLeft;
  animation-duration: 3s;
}

.heading-img {
  display: block;
  width: 100%;
  margin-left: 50%;
  animation: slideInRight;
  animation-duration: 3s;
}

@media (max-width: 600px) {
  .heading {
    width: 80%;
    margin: 90px auto 30px;
    display: block;
  }

  .heading-img {
    display: none;
  }

  .heading h1 {
    font-size: 40px;
  }

  .heading p,
  h2 {
    font-size: 20px;
  }

  .middle-section {
    margin-top: 100px;
    text-align: center;
  }

  .middle-section a {
    margin: auto;
    margin-bottom: 20px;
  }

  .middle-section .middle {
    padding: 50px;
  }

  .project {
    margin: auto;
    margin-bottom: 20px;
  }
}

p {
  font-size: 30px;
  line-height: 0px;
  margin: 0px;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 90px;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  position: relative;
}

h2 {
  font-size: 25px;
  font-family: "PT Serif", serif;
}

.middle {
  text-align: center;
  padding: 120px;
  font-size: 20px;
  animation: slideInLeft;
  animation-duration: 3s;
}

.middle-button {
  font-family: "PT Serif", serif;
  background-color: #a7b882 !important;
  color: white;
  margin-left: 220px;
}

.projects {
  padding: 20px;
}

.project-button {
  font-family: "PT Serif", serif;
  background-color: #a7b882 !important;
  margin: 30px auto;
  color: white;
}

section {
  font-family: "PT Serif", serif;
}
/*about section*/

.main {
  padding: 40px;
  margin-top: 100px;
}

.about {
  line-height: normal;
  font-size: 20px;
  animation: slideInLeft;
  animation-duration: 3s;
}

.title {
  font-size: 50px;
  animation: slideInLeft;
  animation-duration: 3s;
}

.maddie {
  margin: auto;
  margin-left: 150px;
  animation: slideInRight;
  animation-duration: 3s;
}

@media (max-width: 600px) {
  .maddie {
    margin: auto;
  }

  .about-button {
    display: block;
  }
}

.touch {
  color: grey;
  text-decoration: none;
}

.touch:hover {
  color: white;
}

.about-button {
  font-family: "PT Serif", serif;
  background-color: #a7b882 !important;
  color: white;
  margin: 50px auto;
}

.skills {
  padding: 150px;
  padding-left: 0;
  padding-right: 0;
  transform: none;
}

.skills p {
  padding: 30px;
  font-size: 20px;
  animation: fadeIn;
  animation-duration: 7s;
}

.borders {
  background-color: #fceee9;
  padding: 60px;
}
.top-skills {
  padding-left: 30px;
}

.bottom-skills {
  padding-left: 30px;
}

/*work section*/

.buttons {
  margin: 100px;
}
.work-button {
  font-family: "PT Serif", serif;
  background-color: #a7b882 !important;
  color: white;
  margin-left: 200px;
}

@media (max-width: 600px) {
  .buttons {
    margin: auto;
  }

  .work-button {
    display: block;
    margin-left: 1px;
    margin-bottom: 30px;
  }
}

/*contact section*/

.contact-title {
  font-size: 50px;
  animation: slideInDown;
  animation-duration: 3s;
  padding: 50px;
}

.contact-icon {
  list-style: none;
  animation: slideInUp;
  animation-duration: 3s;
}

ul:hover {
  color: white;
}

li a {
  text-decoration: none;
  font-family: "PT Serif", serif;
  font-size: 20px;
  color: black;
}

li a:hover {
  color: grey;
}

/*footer section*/

footer {
  margin: 60px 0;
  display: block;
  font-family: "PT Serif", serif;
}

footer .contact-box {
  padding: 30px 100px;
  margin: 150px;
  background-color: white;
  border-radius: 10px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

.contact-me {
  padding: 15px 30px;
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  padding: 10px 14px;
}

.signature {
  line-height: 20px;
}
